[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/extradite"]
	path = vim/bundle/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "vim/bundle/rails-vim"]
	path = vim/bundle/rails-vim
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
